.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scatter-div {
  background-color: #242526;
  border-radius: 10px;
  height: 420px;
  width: 740px;
}

.pie-div {
  background-color: #242526;
  border-radius: 10px;
  height: 420px;
  width: 500px;
}

/* .account-div {
  background-color: #242526;
  border-radius: 10px;
  height: 65px;
  width: 740px;
  margin-top: 10px;
} */

.data-container {
  padding-left: 60px;
  padding-right: 30px;
}

.form-div {
  background-color: #242526;
  border-radius: 10px;
  height: 200px;
  width: 1270px;
  margin-bottom: 60px;
  margin-left: 75px;
}

.stock-buttons {
  padding-left: 14px;
}

.stock-button {
  margin-left: 7px;
}

.account-div {
  background-color: #242526;
  border-radius: 10px;
  height: 100px;
  width: 1270px;
  margin-bottom: 20px;
  margin-left: 75px;
}

.tabs-div {
  margin-left: 60px;
  margin-right: 70px;
}

.tab {
  background-color: #242526;
  border-radius: 10px;
  text-align: center;
}

.contrast {
  height: 7px;
  background-color: #1c3a63;
}

.ptab {
  background-color: #242526;
  border-radius: 10px;
  text-align: center;
}

.ptab2 {
  background-color: #0275d8;
  border-radius: 10px;
  text-align: center;
}

.ptab2:hover {
  background-color: #0063cc;
}

.tab-text {
  color: #c0c0c0;
  font-size: x-small;
}

.tab-text2 {
  color: #18191a;
  font-size: x-small;
}

#account-tab {
  background-color: #18191a;
  text-align: center;
}

.accForm {
  padding-top: 10px;
  padding-left: 30px;
}

.accBtn {
  padding-top: 32px;
}

.tFormTL {
  padding-left: 44px;
  padding-top: 15px;
  padding-right: 30px;
}

.tFormBL {
  padding-left: 44px;
  padding-top: 15px;
  padding-right: 30px;
}

.tFormTR {
  padding-right: 42px;
  padding-top: 15px;
  padding-left: 12px;
}

.tCol1 {
  padding-top: 47px;
}

.tCol2 {
  padding-top: 47px;
  margin-left: 8px;
}
